 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1191px;
}

.u-section-1 .u-text-1 {
  font-size: 9.375rem;
  margin: 40px 206px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 14px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 786px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.5625rem;
  margin: 0;
}

.u-section-1 .u-text-3 {
  margin: 464px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1.125rem;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5626em;
  margin-left: 1px;
  vertical-align: -2px;
}

.u-section-1 .u-image-1 {
  min-height: 786px;
  background-image: url("images/ishita_profile.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1053px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1053px;
  }

  .u-section-1 .u-text-1 {
    font-size: 12.5rem;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 25px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 648px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 262px;
  }

  .u-section-1 .u-image-1 {
    min-height: 648px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 901px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 901px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 78px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 170px;
  }

  .u-section-1 .u-image-1 {
    min-height: 496px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1249px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1249px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-top: 35px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 744px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 973px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1024px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
    width: auto;
    margin-top: 45px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 10px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 362px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 35px;
    margin-right: 9px;
    margin-left: 1px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 1px;
  }

  .u-section-1 .u-image-1 {
    min-height: 468px;
  }
} .u-section-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 399px;
}

.u-section-2 .u-text-1 {
  margin: 80px 241px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 29px 0 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-left: 170px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
    margin-left: 0;
  }
} .u-section-3 {
  min-height: 1871px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.8125rem;
  margin: 60px calc(((100% - 1140px) / 2)  + 581px) 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: -58px calc(((100% - 1140px) / 2)  + -4px) 0 calc(((100% - 1140px) / 2)  + 585px);
}

.u-section-3 .u-text-3 {
  margin: 1px calc(((100% - 1140px) / 2)  + 733px) 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-image-1 {
  width: 737px;
  height: 459px;
  margin: 37px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-image-2 {
  width: 387px;
  height: 587px;
  margin: -459px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-3 .u-image-3 {
  width: 738px;
  height: 496px;
  margin: -112px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-image-4 {
  width: 386px;
  height: 267px;
  margin: -368px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-3 .u-image-5 {
  width: 738px;
  height: 495px;
  margin: 117px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-image-6 {
  width: 386px;
  height: 267px;
  margin: -596px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-3 .u-image-7 {
  width: 386px;
  height: 267px;
  margin: 16px calc(((100% - 1140px) / 2)) 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 381px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2)  + -4px);
    margin-left: calc(((100% - 940px) / 2)  + 385px);
  }

  .u-section-3 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2)  + 533px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-image-2 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-image-3 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-image-4 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-image-5 {
    margin-top: 84px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-image-6 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-image-7 {
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1836px;
  }

  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 161px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2)  + -4px);
    margin-left: calc(((100% - 720px) / 2)  + 165px);
  }

  .u-section-3 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 513px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 448px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-image-2 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-image-3 {
    width: 720px;
    height: 484px;
    margin-top: 20px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-image-4 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-image-5 {
    width: 720px;
    height: 483px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-image-6 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-image-7 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1603px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2)  + 333px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 336px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-image-2 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-image-3 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-image-4 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-image-5 {
    width: 540px;
    height: 362px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-image-6 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-image-7 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 2285px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 41px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -118px;
    margin-right: 183px;
    margin-left: 50px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 212px;
    margin-top: 123px;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    width: 348px;
    height: 528px;
    margin-top: 16px;
    margin-right: auto;
  }

  .u-section-3 .u-image-3 {
    width: 349px;
    height: 235px;
    margin-top: 16px;
    margin-left: auto;
  }

  .u-section-3 .u-image-4 {
    width: 348px;
    height: 241px;
    margin-top: 16px;
    margin-right: auto;
  }

  .u-section-3 .u-image-5 {
    width: 348px;
    height: 233px;
    margin-top: 530px;
    margin-left: auto;
  }

  .u-section-3 .u-image-6 {
    width: 348px;
    height: 241px;
    margin-top: -747px;
    margin-right: auto;
  }

  .u-section-3 .u-image-7 {
    width: 348px;
    height: 241px;
    margin-right: auto;
    margin-bottom: 282px;
  }
} .u-section-4 {
  min-height: 1446px;
}

.u-section-4 .u-image-1 {
  width: 477px;
  height: 477px;
  margin: 145px calc(((100% - 1140px) / 2)  + 245px) 0 auto;
}

.u-section-4 .u-image-2 {
  width: 553px;
  height: 553px;
  margin: -532px auto 0 calc(((100% - 1140px) / 2)  + -85px);
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.8125rem;
  margin: -581px calc(((100% - 1140px) / 2)  + 566px) 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: -60px calc(((100% - 1140px) / 2)  + -4px) 0 calc(((100% - 1140px) / 2)  + 585px);
}

.u-section-4 .u-text-3 {
  margin: -29px calc(((100% - 1140px) / 2)  + 733px) 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-image-3 {
  width: 252px;
  height: 300px;
  margin: 81px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-4 .u-image-4 {
  width: 563px;
  height: 317px;
  margin: 16px auto 0 calc(((100% - 1140px) / 2)  + 7px);
}

.u-section-4 .u-image-5 {
  width: 563px;
  height: 317px;
  margin: 16px auto 0 calc(((100% - 1140px) / 2)  + 7px);
}

.u-section-4 .u-image-6 {
  width: 544px;
  height: 646px;
  margin: -650px calc(((100% - 1140px) / 2)) 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    margin-top: 105px;
    margin-right: calc(((100% - 940px) / 2)  + 304px);
  }

  .u-section-4 .u-image-2 {
    margin-top: -493px;
    margin-left: calc(((100% - 940px) / 2)  + -68px);
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -580px;
    margin-right: calc(((100% - 940px) / 2)  + 255px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + -4px);
    margin-left: calc(((100% - 940px) / 2)  + 385px);
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2)  + 533px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-image-3 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-image-4 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-image-5 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-image-6 {
    margin-right: calc(((100% - 940px) / 2)  + 180px);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2)  + 243px);
  }

  .u-section-4 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2)  + -68px);
  }

  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2)  + 35px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + -4px);
    margin-left: calc(((100% - 720px) / 2)  + 165px);
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2)  + 313px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-image-3 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-image-4 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-image-5 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-image-6 {
    margin-right: calc(((100% - 720px) / 2)  + 180px);
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1415px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 111px;
    margin-right: calc(((100% - 540px) / 2)  + 63px);
  }

  .u-section-4 .u-image-2 {
    margin-top: -487px;
    margin-left: calc(((100% - 540px) / 2)  + -68px);
  }

  .u-section-4 .u-text-1 {
    font-size: 1rem;
    margin-top: -592px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-3 {
    margin-top: 22px;
    margin-right: calc(((100% - 540px) / 2)  + 133px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-image-3 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-image-4 {
    width: 540px;
    height: 304px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-image-5 {
    width: 540px;
    height: 304px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-image-6 {
    width: 540px;
    height: 641px;
    margin-top: -637px;
    margin-right: calc(((100% - 540px) / 2)  + 180px);
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 2150px;
  }

  .u-section-4 .u-image-1 {
    width: 348px;
    height: 340px;
    margin-top: 529px;
    margin-right: auto;
  }

  .u-section-4 .u-image-2 {
    width: 348px;
    height: 340px;
    margin-top: -621px;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -526px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-2 {
    width: 340px;
    margin-top: 62px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    width: 340px;
    margin-top: -190px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-3 {
    width: 348px;
    height: 414px;
    margin-top: 716px;
    margin-right: auto;
  }

  .u-section-4 .u-image-4 {
    width: 348px;
    height: 195px;
    margin-left: auto;
  }

  .u-section-4 .u-image-5 {
    width: 348px;
    height: 195px;
    margin-left: auto;
  }

  .u-section-4 .u-image-6 {
    width: 348px;
    height: 414px;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 44px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 399px;
}

.u-section-5 .u-text-1 {
  margin: 80px 241px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  margin: 29px 0 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    margin-left: 170px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-2 {
    font-size: 0.875rem;
    margin-left: 0;
  }
} .u-section-6 {
  min-height: 2073px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 2.8125rem;
  margin: 60px calc(((100% - 1140px) / 2)  + 581px) 0 calc(((100% - 1140px) / 2));
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin: -58px calc(((100% - 1140px) / 2)  + -8px) 0 calc(((100% - 1140px) / 2)  + 611px);
}

.u-section-6 .u-text-3 {
  margin: -1px calc(((100% - 1140px) / 2)  + 733px) 0 calc(((100% - 1140px) / 2));
}

.u-section-6 .u-image-1 {
  width: 1144px;
  height: 714px;
  margin: 34px calc(((100% - 1140px) / 2)  + -4px) 0 auto;
}

.u-section-6 .u-image-2 {
  width: 370px;
  height: 371px;
  margin: 16px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-6 .u-image-3 {
  width: 370px;
  height: 370px;
  margin: -371px calc(((100% - 1140px) / 2)  + 384px) 0 auto;
}

.u-section-6 .u-image-4 {
  width: 370px;
  height: 371px;
  margin: -370px calc(((100% - 1140px) / 2)  + -2px) 0 auto;
}

.u-section-6 .u-image-5 {
  width: 370px;
  height: 370px;
  margin: 16px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-6 .u-image-6 {
  width: 370px;
  height: 370px;
  margin: -371px calc(((100% - 1140px) / 2)  + 384px) 0 auto;
}

.u-section-6 .u-image-7 {
  width: 370px;
  height: 370px;
  margin: -369px calc(((100% - 1140px) / 2)  + -2px) 0 auto;
}

.u-section-6 .u-image-8 {
  width: 560px;
  height: 189px;
  margin: 16px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-6 .u-image-9 {
  width: 560px;
  height: 188px;
  margin: -189px calc(((100% - 1140px) / 2)  + -2px) 60px auto;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 1946px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    margin-right: calc(((100% - 940px) / 2)  + 255px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2)  + -4px);
    margin-left: calc(((100% - 940px) / 2)  + 385px);
  }

  .u-section-6 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2)  + 533px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-image-1 {
    width: 940px;
    height: 587px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2)  + -257px);
  }

  .u-section-6 .u-image-2 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-image-3 {
    margin-right: calc(((100% - 940px) / 2)  + 374px);
    margin-left: calc(((100% - 940px) / 2)  + 388px);
  }

  .u-section-6 .u-image-4 {
    margin-right: calc(((100% - 940px) / 2)  + -26px);
  }

  .u-section-6 .u-image-5 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-image-6 {
    margin-right: calc(((100% - 940px) / 2)  + 384px);
  }

  .u-section-6 .u-image-7 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-image-8 {
    margin-left: calc(((100% - 940px) / 2)  + 25px);
  }

  .u-section-6 .u-image-9 {
    margin-right: calc(((100% - 940px) / 2)  + -2px);
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 1809px;
  }

  .u-section-6 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2)  + 35px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2)  + -4px);
    margin-left: calc(((100% - 720px) / 2)  + 165px);
  }

  .u-section-6 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2)  + 313px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-image-1 {
    width: 720px;
    height: 450px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-image-3 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2)  + 342px);
    margin-left: calc(((100% - 720px) / 2)  + 355px);
  }

  .u-section-6 .u-image-4 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2)  + -26px);
  }

  .u-section-6 .u-image-5 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-image-6 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2)  + 350px);
  }

  .u-section-6 .u-image-7 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-image-8 {
    margin-left: calc(((100% - 720px) / 2)  + 25px);
  }

  .u-section-6 .u-image-9 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2)  + -2px);
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1694px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1rem;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2)  + 133px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 338px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-image-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-image-3 {
    margin-right: calc(((100% - 540px) / 2)  + 162px);
    margin-left: calc(((100% - 540px) / 2)  + 175px);
  }

  .u-section-6 .u-image-4 {
    margin-right: calc(((100% - 540px) / 2)  + -26px);
  }

  .u-section-6 .u-image-5 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-image-6 {
    margin-right: calc(((100% - 540px) / 2)  + 170px);
  }

  .u-section-6 .u-image-7 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-image-8 {
    width: 540px;
    height: 182px;
    margin-left: calc(((100% - 540px) / 2)  + 20px);
  }

  .u-section-6 .u-image-9 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 2956px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-text-2 {
    width: 340px;
    margin-top: 53px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-3 {
    width: 340px;
    margin-top: -156px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 213px;
    margin-top: 176px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-image-2 {
    width: 340px;
    height: 341px;
    margin-left: auto;
  }

  .u-section-6 .u-image-3 {
    width: 340px;
    height: 340px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-image-4 {
    width: 340px;
    height: 341px;
    margin-top: 16px;
    margin-right: auto;
  }

  .u-section-6 .u-image-5 {
    width: 340px;
    height: 340px;
    margin-left: auto;
  }

  .u-section-6 .u-image-6 {
    width: 340px;
    height: 340px;
    margin-top: 16px;
    margin-right: auto;
  }

  .u-section-6 .u-image-7 {
    width: 340px;
    height: 340px;
    margin-top: 16px;
    margin-right: auto;
  }

  .u-section-6 .u-image-8 {
    width: 340px;
    height: 115px;
    margin-left: auto;
  }

  .u-section-6 .u-image-9 {
    width: 340px;
    height: 114px;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 47px;
  }
} .u-section-7 {
  min-height: 2096px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 2.8125rem;
  margin: 60px calc(((100% - 1140px) / 2)  + 581px) 0 calc(((100% - 1140px) / 2));
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  margin: -58px calc(((100% - 1140px) / 2)  + -8px) 0 calc(((100% - 1140px) / 2)  + 619px);
}

.u-section-7 .u-text-3 {
  margin: -1px calc(((100% - 1140px) / 2)  + 733px) 0 calc(((100% - 1140px) / 2));
}

.u-section-7 .u-image-1 {
  width: 1111px;
  height: 694px;
  margin: 35px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-7 .u-image-2 {
  width: 546px;
  height: 491px;
  margin: 16px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-7 .u-image-3 {
  width: 548px;
  height: 493px;
  margin: -491px calc(((100% - 1140px) / 2)  + 29px) 0 auto;
}

.u-section-7 .u-image-4 {
  width: 548px;
  height: 493px;
  margin: 14px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-7 .u-image-5 {
  width: 547px;
  height: 492px;
  margin: -493px calc(((100% - 1140px) / 2)  + 29px) 60px auto;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 1989px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    margin-right: calc(((100% - 940px) / 2)  + 255px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-text-2 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2)  + -4px);
    margin-left: calc(((100% - 940px) / 2)  + 385px);
  }

  .u-section-7 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2)  + 533px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-image-1 {
    width: 940px;
    height: 587px;
    margin-left: calc(((100% - 940px) / 2)  + -246px);
  }

  .u-section-7 .u-image-2 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-image-3 {
    margin-right: calc(((100% - 940px) / 2)  + 173px);
  }

  .u-section-7 .u-image-4 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-image-5 {
    margin-right: calc(((100% - 940px) / 2) + 29px);
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 1852px;
  }

  .u-section-7 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2)  + 35px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2)  + -4px);
    margin-left: calc(((100% - 720px) / 2)  + 165px);
  }

  .u-section-7 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2)  + 313px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-image-1 {
    width: 720px;
    height: 450px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-image-3 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2)  + 173px);
  }

  .u-section-7 .u-image-4 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-image-5 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2)  + 29px);
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 1728px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1rem;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2)  + 133px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 338px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-image-2 {
    width: 540px;
    height: 486px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-image-3 {
    margin-right: calc(((100% - 540px) / 2)  + 61px);
  }

  .u-section-7 .u-image-4 {
    width: 540px;
    height: 486px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-image-5 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 1815px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-text-2 {
    width: 340px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-3 {
    width: 340px;
    margin-top: -137px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 213px;
    margin-top: 151px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-image-2 {
    width: 340px;
    height: 306px;
    margin-left: auto;
  }

  .u-section-7 .u-image-3 {
    width: 340px;
    height: 306px;
    margin-top: 16px;
    margin-right: auto;
  }

  .u-section-7 .u-image-4 {
    width: 340px;
    height: 306px;
    margin-top: 16px;
    margin-left: auto;
  }

  .u-section-7 .u-image-5 {
    width: 340px;
    height: 306px;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 41px;
  }
} .u-section-8 {
  min-height: 1364px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 74px calc(((100% - 1140px) / 2)  + -4px) 0 calc(((100% - 1140px) / 2)  + 600px);
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  font-size: 2.8125rem;
  margin: -86px calc(((100% - 1140px) / 2)  + 581px) 0 calc(((100% - 1140px) / 2));
}

.u-section-8 .u-text-3 {
  margin: -1px calc(((100% - 1140px) / 2)  + 733px) 0 calc(((100% - 1140px) / 2));
}

.u-section-8 .u-image-1 {
  width: 560px;
  height: 316px;
  margin: 41px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-8 .u-image-2 {
  width: 560px;
  height: 316px;
  margin: -316px calc(((100% - 1140px) / 2)  + 4px) 0 auto;
}

.u-section-8 .u-image-3 {
  width: 560px;
  height: 315px;
  margin: 30px calc(((100% - 1140px) / 2)  + 4px) 0 auto;
}

.u-section-8 .u-image-4 {
  width: 560px;
  height: 314px;
  margin: -315px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-8 .u-image-5 {
  width: 560px;
  height: 300px;
  margin: 17px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-8 .u-image-6 {
  width: 560px;
  height: 300px;
  margin: -300px calc(((100% - 1140px) / 2)  + 4px) 60px auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-top: 138px;
    margin-right: calc(((100% - 940px) / 2)  + -4px);
    margin-left: calc(((100% - 940px) / 2)  + 385px);
  }

  .u-section-8 .u-text-2 {
    margin-top: 786px;
    margin-right: calc(((100% - 940px) / 2)  + 383px);
    margin-left: calc(((100% - 940px) / 2)  + -2px);
  }

  .u-section-8 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2)  + 535px);
    margin-left: calc(((100% - 940px) / 2)  + -2px);
  }

  .u-section-8 .u-image-1 {
    margin-top: -23px;
    margin-right: calc(((100% - 940px) / 2)  + 37px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-8 .u-image-2 {
    margin-top: -245px;
    margin-right: calc(((100% - 940px) / 2)  + 13px);
  }

  .u-section-8 .u-image-3 {
    margin-top: -692px;
    margin-right: calc(((100% - 940px) / 2)  + 50px);
  }

  .u-section-8 .u-image-4 {
    margin-top: 20px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-8 .u-image-5 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-8 .u-image-6 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2)  + 50px);
    margin-bottom: -680px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-top: 60px;
    margin-right: calc(((100% - 720px) / 2)  + -4px);
    margin-left: calc(((100% - 720px) / 2)  + 165px);
  }

  .u-section-8 .u-text-2 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2)  + 163px);
    margin-left: calc(((100% - 720px) / 2)  + -2px);
  }

  .u-section-8 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2)  + 315px);
    margin-left: calc(((100% - 720px) / 2)  + -2px);
  }

  .u-section-8 .u-image-1 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2)  + 37px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-8 .u-image-2 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2)  + 13px);
  }

  .u-section-8 .u-image-3 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2)  + 50px);
  }

  .u-section-8 .u-image-4 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-8 .u-image-5 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-8 .u-image-6 {
    margin-right: calc(((100% - 720px) / 2)  + 50px);
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 2602px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 28px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-8 .u-text-2 {
    font-size: 1rem;
    margin-top: 762px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-8 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2)  + 133px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-8 .u-image-1 {
    margin-top: 82px;
    margin-right: calc(((100% - 540px) / 2)  + 7px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-8 .u-image-2 {
    margin-right: calc(((100% - 540px) / 2)  + 7px);
  }

  .u-section-8 .u-image-3 {
    margin-right: auto;
    margin-left: calc(((100% - 540px) / 2)  + -43px);
  }

  .u-section-8 .u-image-4 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-8 .u-image-5 {
    width: 540px;
    height: 289px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-8 .u-image-6 {
    margin-right: auto;
    margin-bottom: -591px;
    margin-left: calc(((100% - 540px) / 2)  + -43px);
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 1549px;
  }

  .u-section-8 .u-text-1 {
    width: 340px;
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.75rem;
    width: 340px;
    margin-top: -210px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-text-3 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 192px;
    margin-top: 179px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-image-2 {
    width: 340px;
    height: 192px;
    margin-top: 16px;
    margin-right: auto;
  }

  .u-section-8 .u-image-3 {
    width: 340px;
    height: 191px;
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-8 .u-image-4 {
    width: 340px;
    height: 191px;
    margin-top: 16px;
    margin-left: auto;
  }

  .u-section-8 .u-image-5 {
    width: 340px;
    height: 182px;
    margin-top: 16px;
    margin-left: auto;
  }

  .u-section-8 .u-image-6 {
    width: 340px;
    height: 182px;
    margin-top: 16px;
    margin-left: auto;
    margin-bottom: -66px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 428px;
}

.u-section-9 .u-text-1 {
  margin: 80px 241px 0 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.125rem;
  margin: 29px 0 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-right: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    margin-left: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-2 {
    margin-left: 170px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 68px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    font-size: 0.875rem;
    margin-top: 30px;
    margin-left: 0;
  }
} .u-section-10 {
  min-height: 1693px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 60px calc(((100% - 1140px) / 2)  + 581px) 0 calc(((100% - 1140px) / 2));
}

.u-section-10 .u-text-2 {
  font-weight: 700;
  margin: -58px calc(((100% - 1140px) / 2)  + -12px) 0 calc(((100% - 1140px) / 2)  + 626px);
}

.u-section-10 .u-text-3 {
  margin: -28px calc(((100% - 1140px) / 2)  + 733px) 0 calc(((100% - 1140px) / 2));
}

.u-section-10 .u-image-1 {
  width: 397px;
  height: 397px;
  margin: 54px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-10 .u-image-2 {
  width: 397px;
  height: 397px;
  margin: -397px calc(((100% - 1140px) / 2)  + 330px) 0 auto;
}

.u-section-10 .u-image-3 {
  width: 389px;
  height: 546px;
  margin: 16px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-10 .u-image-4 {
  width: 389px;
  height: 546px;
  margin: -546px calc(((100% - 1140px) / 2)  + 346px) 0 auto;
}

.u-section-10 .u-image-5 {
  width: 358px;
  height: 536px;
  margin: -546px calc(((100% - 1140px) / 2)  + -28px) 0 auto;
}

.u-section-10 .u-image-6 {
  width: 586px;
  height: 329px;
  margin: 26px auto 0 calc(((100% - 1140px) / 2)  + -9px);
}

.u-section-10 .u-image-7 {
  width: 577px;
  height: 324px;
  margin: -329px calc(((100% - 1140px) / 2)  + -28px) 60px auto;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    font-size: 2.25rem;
    margin-right: calc(((100% - 940px) / 2)  + 255px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-10 .u-text-2 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2)  + -4px);
    margin-left: calc(((100% - 940px) / 2)  + 385px);
  }

  .u-section-10 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2)  + 533px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-10 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-10 .u-image-2 {
    margin-right: calc(((100% - 940px) / 2)  + 330px);
  }

  .u-section-10 .u-image-3 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-10 .u-image-4 {
    margin-right: calc(((100% - 940px) / 2)  + 320px);
  }

  .u-section-10 .u-image-5 {
    margin-right: calc(((100% - 940px) / 2)  + 26px);
  }

  .u-section-10 .u-image-6 {
    margin-left: calc(((100% - 940px) / 2)  + -2px);
  }

  .u-section-10 .u-image-7 {
    margin-right: calc(((100% - 940px) / 2)  + 41px);
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2)  + 35px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-10 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2)  + -4px);
    margin-left: calc(((100% - 720px) / 2)  + 165px);
  }

  .u-section-10 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2)  + 313px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-10 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-10 .u-image-2 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2)  + 323px);
  }

  .u-section-10 .u-image-3 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-10 .u-image-4 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2)  + 320px);
  }

  .u-section-10 .u-image-5 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2)  + 26px);
  }

  .u-section-10 .u-image-6 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-10 .u-image-7 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2)  + 41px);
  }
}

@media (max-width: 767px) {
   .u-section-10 {
    min-height: 1671px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1rem;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-10 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-10 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2)  + 133px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-10 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-10 .u-image-2 {
    margin-right: calc(((100% - 540px) / 2)  + 143px);
  }

  .u-section-10 .u-image-3 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-10 .u-image-4 {
    margin-right: calc(((100% - 540px) / 2)  + 151px);
  }

  .u-section-10 .u-image-5 {
    margin-right: calc(((100% - 540px) / 2)  + 26px);
  }

  .u-section-10 .u-image-6 {
    width: 540px;
    height: 303px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-10 .u-image-7 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-10 {
    min-height: 2974px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
    margin-top: 81px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-10 .u-text-2 {
    width: 340px;
    margin-top: 59px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-10 .u-text-3 {
    width: 340px;
    margin-top: -159px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-10 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: 160px;
    margin-left: auto;
  }

  .u-section-10 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: 16px;
    margin-right: auto;
  }

  .u-section-10 .u-image-3 {
    width: 340px;
    height: 477px;
    margin-left: auto;
  }

  .u-section-10 .u-image-4 {
    width: 340px;
    height: 477px;
    margin-top: 16px;
    margin-right: auto;
  }

  .u-section-10 .u-image-5 {
    width: 340px;
    height: 509px;
    margin-top: 16px;
    margin-right: auto;
  }

  .u-section-10 .u-image-6 {
    width: 340px;
    height: 191px;
    margin-top: 16px;
    margin-left: auto;
  }

  .u-section-10 .u-image-7 {
    width: 340px;
    height: 191px;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 47px;
  }
} .u-section-11 {
  min-height: 1784px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 60px calc(((100% - 1140px) / 2)  + 566px) 0 calc(((100% - 1140px) / 2));
}

.u-section-11 .u-text-2 {
  font-weight: 700;
  margin: -58px calc(((100% - 1140px) / 2)  + -20px) 0 calc(((100% - 1140px) / 2)  + 659px);
}

.u-section-11 .u-text-3 {
  margin: -32px calc(((100% - 1140px) / 2)  + 733px) 0 calc(((100% - 1140px) / 2));
}

.u-section-11 .u-image-1 {
  width: 706px;
  height: 441px;
  margin: 60px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-11 .u-image-2 {
  width: 471px;
  height: 424px;
  margin: -441px calc(((100% - 1140px) / 2)  + -48px) 0 auto;
}

.u-section-11 .u-image-3 {
  width: 706px;
  height: 471px;
  margin: 32px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-11 .u-image-4 {
  width: 471px;
  height: 494px;
  margin: -494px calc(((100% - 1140px) / 2)  + -48px) 0 auto;
}

.u-section-11 .u-image-5 {
  width: 612px;
  height: 408px;
  margin: 16px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-11 .u-image-6 {
  width: 452px;
  height: 406px;
  margin: -410px calc(((100% - 1140px) / 2)  + 67px) 60px auto;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-1 {
    font-size: 2.25rem;
    margin-right: calc(((100% - 940px) / 2)  + 255px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-11 .u-text-2 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2)  + -16px);
    margin-left: calc(((100% - 940px) / 2)  + 385px);
  }

  .u-section-11 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2)  + 533px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-11 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-11 .u-image-2 {
    margin-right: calc(((100% - 940px) / 2)  + -16px);
  }

  .u-section-11 .u-image-3 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-11 .u-image-4 {
    margin-right: calc(((100% - 940px) / 2)  + -20px);
  }

  .u-section-11 .u-image-5 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-11 .u-image-6 {
    margin-right: calc(((100% - 940px) / 2)  + 103px);
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2)  + 35px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-11 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2)  + -16px);
    margin-left: calc(((100% - 720px) / 2)  + 165px);
  }

  .u-section-11 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2)  + 313px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-11 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-11 .u-image-2 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2)  + -16px);
  }

  .u-section-11 .u-image-3 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-11 .u-image-4 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2)  + -20px);
  }

  .u-section-11 .u-image-5 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-11 .u-image-6 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2)  + 103px);
  }
}

@media (max-width: 767px) {
   .u-section-11 {
    min-height: 1521px;
  }

  .u-section-11 .u-text-1 {
    font-size: 1rem;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-11 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2)  + -16px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-11 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2)  + 133px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-11 .u-image-1 {
    width: 540px;
    height: 337px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-11 .u-image-2 {
    margin-right: calc(((100% - 540px) / 2)  + -16px);
  }

  .u-section-11 .u-image-3 {
    width: 540px;
    height: 360px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-11 .u-image-4 {
    margin-right: calc(((100% - 540px) / 2)  + -20px);
  }

  .u-section-11 .u-image-5 {
    width: 540px;
    height: 360px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-11 .u-image-6 {
    margin-right: calc(((100% - 540px) / 2)  + 103px);
  }
}

@media (max-width: 575px) {
   .u-section-11 {
    min-height: 2058px;
  }

  .u-section-11 .u-text-1 {
    font-size: 1.5rem;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-11 .u-text-2 {
    width: 340px;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-11 .u-text-3 {
    width: 340px;
    margin-top: -159px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-11 .u-image-1 {
    width: 340px;
    height: 212px;
    margin-top: 175px;
    margin-left: auto;
  }

  .u-section-11 .u-image-2 {
    width: 340px;
    height: 306px;
    margin-top: 16px;
    margin-right: auto;
  }

  .u-section-11 .u-image-3 {
    width: 340px;
    height: 227px;
    margin-top: 16px;
    margin-left: auto;
  }

  .u-section-11 .u-image-4 {
    width: 340px;
    height: 357px;
    margin-top: 16px;
    margin-right: auto;
  }

  .u-section-11 .u-image-5 {
    width: 340px;
    height: 227px;
    margin-left: auto;
  }

  .u-section-11 .u-image-6 {
    width: 340px;
    height: 305px;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 48px;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 279px;
}

.u-section-12 .u-text-1 {
  margin: 80px 164px 0 0;
}

.u-section-12 .u-text-2 {
  font-size: 1.125rem;
  margin: 15px 164px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-1 {
    margin-right: 0;
  }

  .u-section-12 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-text-1 {
    width: auto;
    margin-top: 81px;
  }

  .u-section-12 .u-text-2 {
    margin-top: 59px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 267px;
  }

  .u-section-12 .u-text-1 {
    margin-top: 75px;
  }

  .u-section-12 .u-text-2 {
    width: auto;
    font-size: 0.875rem;
    margin-top: 16px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 1093px;
}

.u-section-13 .u-text-1 {
  margin: 60px auto 0 0;
}

.u-section-13 .u-image-1 {
  width: 466px;
  height: 466px;
  margin: 7px auto 0 -110px;
}

.u-section-13 .u-image-2 {
  width: 211px;
  height: 469px;
  margin: -81px -35px 0 auto;
}

.u-section-13 .u-image-3 {
  width: 446px;
  height: 446px;
  margin: -844px auto 0 204px;
}

.u-section-13 .u-image-4 {
  width: 604px;
  height: 340px;
  margin: -411px -29px 0 auto;
}

.u-section-13 .u-image-5 {
  width: 454px;
  height: 454px;
  margin: 41px 193px 0 auto;
}

.u-section-13 .u-image-6 {
  width: 455px;
  height: 332px;
  margin: -393px auto 60px 0;
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1057px;
  }

  .u-section-13 .u-image-3 {
    margin-left: 94px;
  }

  .u-section-13 .u-image-4 {
    width: 540px;
    height: 304px;
    margin-right: 0;
  }

  .u-section-13 .u-image-5 {
    margin-right: 86px;
  }

  .u-section-13 .u-image-6 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 2200px;
  }

  .u-section-13 .u-image-1 {
    height: 340px;
    margin-top: 31px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-13 .u-image-2 {
    margin-top: 582px;
    margin-right: auto;
  }

  .u-section-13 .u-image-3 {
    height: 340px;
    margin-top: -826px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-13 .u-image-4 {
    height: 191px;
    margin-top: -548px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-13 .u-image-5 {
    height: 340px;
    margin-top: 868px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-13 .u-image-6 {
    height: 248px;
    margin-top: 0;
    margin-bottom: 43px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 969px;
}

.u-section-14 .u-text-1 {
  margin: 111px auto 0 0;
}

.u-section-14 .u-image-1 {
  width: 533px;
  height: 300px;
  margin: 30px auto 0 0;
}

.u-section-14 .u-image-2 {
  width: 533px;
  height: 300px;
  margin: -300px 56px 0 auto;
}

.u-section-14 .u-image-3 {
  width: 533px;
  height: 300px;
  margin: 18px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-14 .u-image-2 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-image-2 {
    margin-right: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 780px;
  }

  .u-section-14 .u-text-1 {
    width: auto;
    margin-top: 62px;
  }

  .u-section-14 .u-image-1 {
    height: 191px;
    margin-top: 39px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-14 .u-image-2 {
    height: 191px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-14 .u-image-3 {
    height: 191px;
    margin-top: 16px;
    margin-bottom: 45px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}